.container {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  flex: 1;
  gap: 1rem;
}

.bar {
  width: 100%;
  background-color: var(--background-primary);
  height: 1rem;
  transform: skewX(-25deg);
  display: flex;
  align-items: center;
  padding: 0.1rem 0.5rem;
}

.contentBar {
  background-color: var(--shape);
  transform: skewX(-10deg);
  height: 50%;
}

